@font-face {
    font-family: 'NanumSquare_ac';
    src: url('NanumSquare_acEB.woff2') format('woff2'),
        url('NanumSquare_acEB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

